#Необходимо указать токен для телеграмм-бота
TELEGRAM_TOKEN=
# Необходимо указаь ID чата телеграмм
TELEGRAM_CHAT_ID=
# Google
EMAIL=
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
